* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --cor-principal: #504d35;
    --cor-secundaria: #585750;
    --cor-destaque: #d0e6b6;
    --branco: #ffffff;
    --texto-claro: color: rgb(238, 243, 224);
}



.elemento-flutuante {
  animation: flutuar 3s ease-in-out infinite;
}


/*BODY*/
body{
    background-image: url(../images/admin-images/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: 100vh;
    min-width: 100vw;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
}

/*DISPLAY SECUNDARIO*/
.info{
    display: flex;
    flex-direction: column;  
    width: min(90%, 450px);

    position: absolute;
    left: 50px;
}


.info .painel{
    display: flex;
    flex-direction: column;
    gap:5px
}

.info .painel h2{
    color: var(--cor-destaque);
    border-left: 1px solid var(--cor-destaque);
    padding-left: 5px;
    font-weight: 400;
    font-size: 20px;
}

.info .painel p{
    color: rgb(238, 243, 224);
    font-size: 16px;
    padding-left: 5px;
    width: 40%;
}

.lineBar{
    width: 50%;
    height: 1px;
    margin-top: 10px;
    background-color: rgba(241, 241, 192, 0.158);
}

.info .passagem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info .passagem .citacao1{
    color: var();
    font-size: 16px;
    color: rgb(238, 243, 224);
    width: 250px;
    font-weight: 300;
    font-style: oblique;
}

.info .passagem .citacao2{
    color: var(--cor-destaque);
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;   
    padding-left: 5px;
}

.passagem span{
    color: var(--cor-destaque);
    height: 40px;
    font-size: 60px;
    font-family: serif;
    font-weight: 1000;
}


/*TELA DE LOGIN*/

.principal{
    width: min(90%, 450px);
}


.login-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    

    width: 100%;
    background-color: rgba(36, 11, 11, 0.137);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.062);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

    padding: 20px 10px;
}

.logo {
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo::after {
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    margin: 10px auto 0;

    background: linear-gradient(
        to right,
        transparent,
        #8f8450,
        #e8d58a,
        #8f8450,
        transparent
    );

    box-shadow: 0 0 6px rgba(255, 204, 0, 0.247);
}

.logo img {
    width: 50px;
}


.logo .titulo {
    letter-spacing: 3px;

    display: flex;
    gap: 5px;
    text-align: center;

    text-transform: uppercase;

    font-size: 15px;

    background: linear-gradient(
            90deg,
            #ffffff,
            #c8f78786,
            #ffffff
        );

        -webkit-background-clip: text;
        background-clip: text;

        -webkit-text-fill-color: transparent;

}


.logo .igreja {
    font-weight: 500;
}

.widget-form{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 10px;
}

.wInfo{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.wInfo .p1{
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    letter-spacing: 1.2px;
}
.wInfo .p2{
    font-size: 10px;
    font-weight: 200;
    color: rgb(226, 201, 201);
    
}

/*FORMULARIO*/

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 20px;
    margin-top: 40px;
}

.input-group{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 3px;
}

.input-group label{
    color: var(--cor-destaque);
    font-size: 13px;
    font-weight: 200;
}

.input-group input{
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgba(227, 235, 210, 0.089);
    border-radius: 10px;
    
    font-weight: 200;
    outline: none;
    caret-color: #d4af37;

    
    box-shadow: rgba(8, 8, 8, 0.2) 0px 8px 24px;
}


.input-group input::placeholder{
    color: #838a7bc0;
    font-size: 13px;
    font-weight: 200;
}

.lembrar{
    width: 80%;
    font-size: 10px;
    color: white;


    display: flex;
    justify-content: space-between;
}



.lembrar label{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.lembrar a{
    
    position: relative;

    text-decoration: none;
    color: white;

    transition: transform .1s ease;
}

.lembrar a:hover{
    color: var(--cor-destaque);
    transform: scale(1.01);
}


form button{
    margin-top: 30px;
    padding: 3px;

    letter-spacing: 2px;
     
    color: white;

    background: linear-gradient(
        90deg,
        #2e29069f,
        #332f22,
        #2e29069f
    );
    

    width: 50%;
    border: none;
    border-radius: 10px;

    
    transition: transform .5s ease, box-shadow .5s ease;
}

form button:hover{
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.356) 0px 20px 30px -10px;
}


/*FIM*/

.fim{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 150px;
}

.fim .direitos{
    text-align: center;
    font-size: 10px;
    color: rgba(194, 194, 194, 0.712);
    font-weight: 100;
}

.fim .direitos a{
    text-decoration: none;
    color: rgba(194, 194, 194, 0.712);
    transition: all .2s ease;
}
.fim .direitos a:hover{
    text-decoration: underline;
    color: rgb(253, 253, 253);
}


/*RESPONSIVIDADE*/

@media(max-width:1150px){
  .info{
    display: none;
  }
}

@media(max-width:450px){
  .input-group, .lembrar{
    width: 100%;
  }
}

@media(max-width:270px){
  .lembrar{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .logo .titulo{
    display: none;
  }
}