*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
}

/* Largura da barra */
::-webkit-scrollbar {
    width: 7px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
    background: #1e1e1e;
}

/* A parte que se move */
::-webkit-scrollbar-thumb {
    background: #464019;
    border-radius: 20px;
}

/* Quando passa o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #928640;
}

:root{
    --cor-principal:#504d35;
    --cor-secundaria: #585750;
    --cor-destaque: #c9a227;
    --branco: #ffffff;
}

/*=========ANIAMTION========*/
@keyframes aparecer{

    from{
        transform:translateY(-100%);
    }

    to{
        transform:translateY(0);
    }

}


@keyframes seta {
    0%, 100%{
        transform: translateY(0);
        opacity: 0.3;
    }

    50% {
        transform: translateY(10px);
        opacity: 1;
        
    }

}
/*=========ANIAMTION========*/

/*=========CABEÇALHO========*/

header{
    position: fixed;
    top:0;
    width:100%;
    z-index:1000;

    background-color: #ebc7c759;
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, .1) 0px 10px 40px;

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: aparecer 1s ease;
}

.container{
    display: flex;
    justify-content: space-between;
    width: min(90%, 1200px);
    height: 80px;
    gap: 30px;    
}

/*LOGO*/
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

header .logo .titulo{
    text-transform: uppercase;
    width: 70px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color:#3d3b29;
    text-align: center;
}
header .logo .igreja{
    font-weight: 500;
}
header .logo img{
    width: 70px;
}
/*LOGO*/
header .menu{
    display: flex;
    align-items: center;
}

header .menu ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

header .menu a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color:#8a7676;
}

header .menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height:1px;
    background:#5e3b3ba1;

    transform: scaleX(0);
    transform-origin: center;
    transition: all .4s ease;
}

header .menu a:hover{
    color:#2e2525;
}

header .menu a:hover::after{
    transform: scaleX(1);
}



header .sac{
    display: flex;
    text-align: center;
    align-items: center;
}
header .sac h5{
    background: linear-gradient(90deg,#252318,#363223,#504d35);
    padding: 10px 20px;
    border-radius: 20px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: white;
}
/*=========CABEÇALHO========*/

/*=========SECTION-BANNER1========*/
.banner1{
    position: relative;

    background-image: url(../images/banner.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner1 .principal{
    max-width:900px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    color: white;
    text-align: center;
}

.banner1 span{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--cor-secundaria);

    background: linear-gradient(90deg,#fdfdfd13,#1f1c0b13,#ffffff13);
    border: 1px solid rgba(44, 20, 20, 0.082);
    backdrop-filter: blur(10px);

    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
}
.banner1 h1{
    margin-top: 40px;

    font-size: 60px;
    text-transform: uppercase;
    background: linear-gradient(90deg,#1f0e0e,#1f1c0b,#655D21);

    -webkit-background-clip:text;
    background-clip:text;

    -webkit-text-fill-color:transparent;
}

.banner1 p{
    width:100%;
    max-width:800px;

    font-weight: 300;
    font-size: 25px;
    color: var(--cor-secundaria);
}

.banner1 .secundaria{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.banner1 .secundaria .a1{
    width: 250px;
    text-decoration: none;
    color: white;

    background: linear-gradient(90deg,#252318,#363223,#504d35);
    padding: 8px 30px;
    border-radius: 20px;
}

.banner1 .secundaria .a2{
    width: 250px;

    text-decoration: none;
    color: #1f1c0b;

    background: linear-gradient(90deg,#5f5c5c1e,#fffefe34,#ffffff13);
    border: 1px solid rgba(44, 20, 20, 0.295);
    padding: 8px 30px;
    border-radius: 20px;
}

.banner1 .secundaria h3{
    font-size:15px;
    font-weight: normal;
}

.details{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    z-index: 999;
}

.details h5{
    color: var(--cor-secundaria);
    font-size: max(10px, 40%);
    font-weight: 700;
    letter-spacing: 3px;

}

.details img {
    animation: seta 1.5s ease infinite;
}
/*=========SECTION-BANNER1========*/

/*=========SECTION-BANNER2========*/
.banner2{
    height: 500px;;
    background-color: white;
}
/*=========SECTION-BANNER2========*/
/*=========RODAPÉ========*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #504d35;
}

.container_footer{
    display: flex;
    justify-content: space-between; 
    padding-bottom: 10px;
    margin: 20px 50px;
    width: 90%;
    gap: 20px;
    border-bottom: 1px solid rgba(202, 191, 191, 0.192);
}

.widgetF{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 300px ;
    font-weight: 200;
    font-size: 18px;
    color: rgb(202, 191, 191);
    text-align: left;
    gap: 10px;
}

/*FOOTER 1*/
.widget_footer1{
    display: flex;
    flex-direction: column;
    align-items:left;
    color:#fffffb;
    padding-bottom: 20px;
}


.widget_footer1 span{
    font-weight: 400;
}
.widget_footer1 h3{
    font-weight:500;
    font-size: 20px;
}

/*FOOTER 1*/

/*FOOTER 2*/
.widget_footer2{
    display: flex;
    justify-content: left;
    align-items: center;
    color:#fffffb;
}

.widget_footer2 h3{
    width: 100%;
    padding-bottom: 5px;

    font-weight:500;
    font-size: 20px;
    border-bottom: 1px solid rgba(202, 191, 191, 0.411);
}

footer .links_rapidos li{
    list-style: none;
}
footer .links_rapidos ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .links_rapidos a{
    text-decoration: none;
    color: rgb(202, 191, 191);
}

/*FOOTER 2*/

/*FOOTER 3*/
.widget_footer3{
    display: flex;
    justify-content: left;
    align-items: center;
    color:#fffffb;
}

.widget_footer3 h3{
    width: 100%;
    padding-bottom: 5px;
    

    font-weight:500;
    font-size: 20px;
    border-bottom: 1px solid rgba(202, 191, 191, 0.411);
}

/*FOOTER 3*/

/*FOOTER 4*/

.widget_footer4{
    display: flex;
    justify-content: left;
    align-items: center;
    color:#fffffb;
}

.widget_footer4 h3{
    width: 100%;
    padding-bottom: 5px;
    
    font-weight:500;
    font-size: 20px;
    border-bottom: 1px solid rgba(202, 191, 191, 0.411);
}

footer .redesSociais{
    display: flex;
    gap: 30px;
}

footer .redesSociais .ytb,
footer .redesSociais .insta{
    display: flex;

    position: relative;
    overflow: hidden;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    filter: brightness(.4);
    transition: transform .3s ease,
                box-shadow .3s ease,
                filter .8s ease;
                
}

footer .redesSociais .ytb{
     background:
        linear-gradient(rgba(0, 0, 0, 0.400), rgba(7, 7, 7, 0.700)),
        url("../images/logo_youtube.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .redesSociais .insta{
    background:
        linear-gradient(rgba(0, 0, 0, 0.40), rgba(7, 7, 7, 0.700)),
        url("../images/logo_insta.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



footer .redesSociais .ytb:hover,
footer .redesSociais .insta:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.137);
    filter: brightness(3);
}



footer .mensagem{
    margin-top: 10px;
    width: 100%;
}

footer .mensagem button{
    width: 100%;
    min-height: 30px;
    padding: 10px;
    background-color: rgba(134, 72, 72, 0.26) ;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid rgba(146, 97, 97, 0.507);
}
/*FOOTER 4*/
.fim{
    display: flex;
    justify-content: space-between; 
    margin: 20px 50px;
    width: 90%;
    color: rgb(202, 191, 191);
}

/*=========RODAPÉ========*/

/*===========@MEDIA========*/

@media (max-width: 1640px){
    .banner1 .secundaria{
        flex-direction: column;
        gap: 10px;
}

@media (max-width: 1125px){
    header .menu ul{
        font-size: 13px;
        padding: 5px 8px;
    }
}

@media (max-width:1102px){
    .container .menu{
        display: none;
    }
    header .sac{
    display: none;}
    
    .container_footer{
        flex-direction: column;
    }

    
    .banner1 .secundaria h3{
        font-size: 15px;
    }

    .banner1 .secundaria{
        flex-direction: column;
        gap: 10px;
    }

    
    footer .fim{
        flex-direction: column;
        text-align: center;
        gap: 10px;
        font-size: 10px;
    }
}

@media (max-width:840px){
    .banner1 p{
        font-size: 20px;
    }

     .banner1 h1{
        font-size: 45px;
    }

}   